body{
  background: black;
  font-family: arial;

}

p{
  color: white;
}

h1{
  color: white;
}

figcaption{
  color:white;
}

a{
  color: yellow;
}

#alfcap
{
  color: yellow;
  font-size: 24px;
}

#markuscap
{
  color:red;
  font-size: 24px;
}

#alimage
{
  height: 80vh;
}

#markusimage
{
  height: 60vh;
}
